* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Desktop {
    background-color: hsl(216, 12%, 8%);
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    background-color: hsl(213, 19%, 18%);
    width: 340px;
    height: 330px;
    margin-top: 30px;
    padding: 30px 20px;
    border-radius: 10px;
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: hsl(213, 17%, 26%);
    margin-bottom: 20px;
    padding: 6px;
}
h2 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}
p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 20px;
    
}
span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.n1,
.n2,
.n3,
.n4,
.n5 {
    width: 40px;
    height: 40px;
    background-color: hsl(213, 17%, 26%);
    border-radius: 100%;
    padding: 10px 15px;
    color:hsl(0, 0%, 100%);
    margin-bottom: 20px;

}
button {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
}
.container2 {
    background-color: hsl(213, 19%, 18%);
    width: 300px;
    height: 280px;
    margin-top: 30px;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}
.phone {
    margin-top: 10px;
    margin-bottom: 20px;
}
.bt {
    margin-bottom: 20px;
    background-color:hsl(213, 17%, 26%);
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color:hsl(25, 97%, 53%);
}
.mobile {
    background-color: hsl(216, 12%, 8%);
    width: 375px;
    height: 450px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container3 {
    background-color: hsl(213, 19%, 18%);
    width: 310px;
    height: 340px;
    margin: auto;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}
.n1:hover,
.n2:hover,
.n3:hover,
.n4:hover,
.n5:hover  {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}
.down:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
a {
    text-decoration: none;
    font-size: 30px;
}
.fa-solid, .fas {
    color: hsl(25, 97%, 53%);
}
.icon {
    width: 50px;
    margin-bottom: 20px;
}